body{
    display: flex;
    background-color: gainsboro;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    height: 50px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding-top:0;
    padding-bottom: 15px;
    margin: auto;
    margin-top: 0;
}
h1{
    text-align: center;
}
.cajacontenedora{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    width: 250vh;
    height: auto;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
}
.caja-post1, .caja-post2,.caja-post3,.caja-post4{
    display: flex;
    position: relative;
    justify-content: center;
    width: 60vh;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    background-color: white;
}
.post1-header,.post2-header,.post3-header,.post4-header{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 59vh;
    height: auto;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0.2vh;
    margin-right: 0.2vh;
    border-color:transparent;
    border-style: solid;
    border-width: 1px;
    padding: auto;
}
.izquierda{
    margin-right: auto;
    font-weight: bold;
}
.derecha{
    margin-left: auto;
    color: gray;
}
.post1-img,.post2-img,.post3-img,.post4-img{
    display:flex;
    justify-content: center;
    position:relative;
    width: 100%;
    height:auto;
    margin-top: 3.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0.2vh;
    margin-right: 0.2vh;
    border-color:transparent;
    border-style: solid;
    border-width: 1px;
}
.post1-footer,.post2-footer,.post3-footer,.post4-footer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 0.5vh;
    margin-left: 0.2vh;
    margin-right: 0.2vh;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    padding: 1px
}

p{
    text-align:start;
}
